<!doctype html>

<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="description" content="{{#if article}}{{article.summary}}{{else}}{{site.blog_description}}{{/if}}"/>
    
    <link rel="alternate" type="application/atom+xml" title="{{site.blog_name}} - feed" href="/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="{{site.blog_name}}" href="/rss.xml" />
    
    <meta name="viewport" content="width=100, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/prettify.css" type="text/css" rel="stylesheet" />

    <title>{{#if category}}{{category}}{{else}}{{#if article}}{{article.meta.title}}{{else}}{{site.blog_name}}{{/if}}{{/if}}</title>
  </head>
  <body>
    {{{svg_source}}}

    <header class="text">
      <a href="/" class="home-logo">{{{icon "icon-bullhorn"}}}</a>
      <h1>{{site.blog_name}}</h1>
    </header>

    <nav>
      <ul class="nav">
        {{#each categories}}
        <li {{#if selected}} class="active" {{/if}}>
          <a href="/{{name}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
      <ul class="externals">
        <li><a target="_blank" href="/rss.xml" title="rss">{{{icon "icon-feed"}}}</a></li>
        <li><a target="_blank" href="http://twitter.com/chris_paul_m" title="twitter">{{{icon "icon-twitter"}}}</a></li>
        <li><a target="_blank" href="http://github.com/" title="github">{{{icon "icon-github"}}}</a></li>
        <li><a target="_blank" href="http://soundcloud.com" title="soundcloud">{{{icon "icon-soundcloud"}}}</a></li>
        <li><a target="_blank" href="http://youtube.com" title="youtube">{{{icon "icon-youtube"}}}</a></li>
      </ul>
    </nav>


    {{{body}}}
    
    <!--SCRIPTS-->
    <script src="/js/libs/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/libs/prettify.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <footer>Powered by <a href="https://github.com/sojournerc/express-blogger" target="_blank">Express Blogger</a></footer>
  </body>
</html>
