<h1 class="category">{{ categories.selected_name }}</h1>
<section class="articles">
  {{#each articles }}
    <article class="post">
      <header>
        <h2>
            <a href="{{ meta.path }}">{{ meta.title }}</a>
            <span class="sub-head">{{#format_date}}{{ meta.date }}{{/format_date}}</span>   
        </h2>
      </header>

      <section class="content">
        {{{ summary }}}
      </section>

      {{#if summary_more }}
        <div class="more"><a href="{{ meta.path }}">read on &raquo;</a></div>
      {{/if}}
      
      <span class="divider"></span>
    </article>
  {{/each}}
</section>